In [1]:
import pymysql
from functools import partial

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print('Executando query:')
        cursor.execute(query, args)
        for result in cursor:
            print(result)

connection = pymysql.connect(
    host='localhost',
    user='megadados',
    password='Megadados2019',
    database='ara_ara')

db = partial(run_db_query, connection)

In [2]:
db('SELECT * FROM usuario')

Executando query:

In [3]:
db("""
INSERT INTO cidade (Nome) values ("Paranapiacaba")
""")

Executando query:

In [4]:
db("SELECT * FROM cidade")

Executando query:
(4, 'Paranapiacaba')

In [6]:
    db("CALL add_user('Michel Jaques Filho', 'ThisIsIt@gmail.com', 4);")

Executando query:

In [8]:
db("SELECT * FROM usuario")

Executando query:
(5, 'Michel Jaques Filho', 'ThisIsIt@gmail.com', 4, 1)

In [13]:
db("SELECT * FROM bio")

Executando query:
(5, 'MJ', 'www.linkdafoto.com', 'rlx que eu n sou o rei do pop')

In [12]:
db('CALL edit_bio("MJ", "www.linkdafoto.com", "rlx que eu n sou o rei do pop", 5);')

Executando query:

In [11]:
db("""
INSERT INTO passaro (Nome) values ("passarinho")
""")

Executando query:

In [17]:
db('SELECT * FROM passaro')

Executando query:
(2, 'passarinho')

In [18]:
db("CALL add_preference(3,2);")

Executando query:

In [19]:
db("SELECT * FROM preferencia")

Executando query:
(3, 2)

In [20]:
db('CALL delete_user(1);')

Executando query:

In [21]:
db("SELECT * FROM usuario WHERE ativo = 1")

Executando query:
(3, 'Michel Jaques Filho', 'ThisIsIt@gmail.com', 3, 1)

In [24]:
db('CALL add_post("titulo", "www.linkdaimagem.com", "texto", 3);')

Executando query:

In [25]:
db("SELECT * FROM post")

Executando query:
(3, 'titulo', 'www.linkdaimagem.com', 'texto', 3, 1)

In [26]:
db('CALL delete_post(1);')

Executando query:

In [27]:
db("SELECT * FROM post WHERE ativo = 1")

Executando query:
(3, 'titulo', 'www.linkdaimagem.com', 'texto', 3, 1)

In [29]:
db('CALL tag_user(3,3);')

Executando query:

In [30]:
db("SELECT * FROM menciona_usuario")

Executando query:
(3, 3)

In [32]:
db('CALL tag_bird(2,3);')

Executando query:

In [21]:
db("SELECT * FROM menciona_passaro")

Executando query:
(1, 1)

In [39]:
db('SELECT * FROM joinha')

Executando query:

In [38]:
db('CALL add_opinion(3,3,2);')

Executando query: