In [1]:
import pymysql
from functools import partial

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print('Executando query:')
        cursor.execute(query, args)
        for result in cursor:
            print(result)

connection = pymysql.connect(
    host='localhost',
    user='megadados',
    password='Megadados2019',
    database='ara_ara')

db = partial(run_db_query, connection)

In [2]:
db('SELECT * FROM usuario')

Executando query:

In [3]:
db("""
INSERT INTO cidade (Nome) values ("Paranapiacaba")
""")

Executando query:

In [4]:
db("SELECT * FROM cidade")

Executando query:
(2, 'Paranapiacaba')

In [8]:
db("DELETE FROM cidade WHERE nome='nojinho'")
db("SELECT * FROM cidade")

Executando query:
Executando query:

In [5]:
    db("CALL add_user('Michel Jaques Filho', 'ThisIsIt@gmail.com', 1);")

Executando query:

In [6]:
db("SELECT * FROM usuario")

Executando query:
(1, 'Michel Jaques Filho', 'ThisIsIt@gmail.com', 1, 1)

In [7]:
db("""
INSERT INTO passaro (Nome) values ("passarinho")
""")

Executando query:

In [8]:
db("CALL add_preference(1, 1);")

Executando query:

In [9]:
db("SELECT * FROM preferencia")

Executando query:
(1, 1)

In [11]:
db('CALL delete_user(1);')

Executando query:

In [12]:
db("SELECT * FROM usuario WHERE ativo = 1")

Executando query:

In [13]:
db('CALL add_post("titulo", "www.linkdaimagem.com", "texto", 1);')

Executando query:

In [14]:
db("SELECT * FROM post")

Executando query:
(1, 'titulo', 'www.linkdaimagem.com', 'texto', 1, 1)

In [15]:
db('CALL delete_post(1);')

Executando query:

In [16]:
db("SELECT * FROM post WHERE ativo = 1")

Executando query:

In [17]:
db('CALL tag_user(1,1);')

Executando query:

In [18]:
db("SELECT * FROM menciona_usuario")

Executando query:
(1, 1)

In [20]:
db('CALL tag_bird(1,1);')

Executando query:

In [21]:
db("SELECT * FROM menciona_passaro")

Executando query:
(1, 1)